<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <div th:replace="fragments/header :: header"></div>
    <style>
           .container-fluid{
            padding-top: 12vh;
            padding-bottom: 8vh;
        }
        p {
  text-align: justify;
  text-justify: inter-word;
}

    </style>
</head>
<body style="background-color:#f2eddf;">
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid text-center" style="max-width:1500px; margin:0 auto" align="center">
    <h1>About us</h1><br><br>
    <h2>Lorem1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum eius nam optio reiciendis. Accusamus
        asperiores at atque beatae consequatur cumque, dicta dolore doloremque doloribus ipsam modi molestiae nam non
        perferendis perspiciatis provident quidem, quisquam quod totam ullam ut voluptate voluptatum? Accusantium beatae
        cupiditate deleniti dolorem doloribus eligendi eos est, eum fugiat illo in ipsum iste iure laudantium maiores
        nam, numquam odio optio porro praesentium quas quis quos sint soluta suscipit tempore ullam vel veritatis vero
        voluptatem! Consequatur dolor excepturi fuga illo magnam possimus repudiandae temporibus, totam velit voluptate.
        Dolorem, repellat, vel. Alias aliquam, animi at aut beatae, delectus deleniti deserunt distinctio dolor dolore
        doloribus dolorum fugiat hic magni maxime minus obcaecati pariatur quasi quidem recusandae reprehenderit sed sit
        suscipit, totam unde. Commodi, est iure laudantium odio quaerat quisquam quo quos unde. Ab accusantium aperiam
        beatae consequuntur, debitis deleniti dolore eos excepturi expedita explicabo illum itaque iure maxime mollitia
        odio perspiciatis quae quibusdam quo quos ratione repellat rerum, saepe sapiente suscipit unde ut vero? Adipisci
        alias animi assumenda cumque cupiditate debitis dolorem, dolorum eligendi incidunt ipsa iure laudantium, maiores
        neque nihil obcaecati pariatur quaerat repellat sequi ullam ut? Ab aut consequuntur cupiditate deserunt eaque
        eos, ex harum id nemo nihil officiis quidem rerum sapiente sint soluta. Blanditiis molestias quidem quisquam
        repudiandae veniam. Adipisci amet autem corporis deserunt doloremque dolores eius eligendi eos, esse
        exercitationem ipsam labore libero nam neque obcaecati odio officiis optio praesentium quae quibusdam quisquam
        ratione recusandae repellat reprehenderit saepe sed sequi similique temporibus veniam veritatis! Accusantium,
        aperiam consequatur doloribus eligendi eos exercitationem facere inventore nam natus nihil perferendis, possimus
        repellat totam. Asperiores assumenda commodi culpa exercitationem facere ratione saepe sit. Ab adipisci, atque
        dignissimos, eligendi et iure laborum maiores molestias omnis repudiandae saepe sit, voluptate voluptatum.
        Doloribus eos iusto magni nisi nobis obcaecati possimus similique totam ut.</p>
    <h2>Lorem2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad at culpa dolorem doloremque doloribus eveniet
        explicabo facere laborum mollitia nostrum quas quis, quod sapiente tempora? Alias aliquid assumenda, beatae
        commodi cumque dicta dolores eveniet illum laudantium nesciunt non, odio officiis qui ratione recusandae,
        repellat sed voluptates! Deleniti illum laudantium molestiae pariatur sunt. Aliquid cumque facilis quasi
        sapiente tenetur, ullam voluptatum. Amet, corporis, cum dicta enim error eum fugit impedit iste laborum minima
        minus molestiae natus necessitatibus nihil praesentium, quaerat quibusdam quidem recusandae reprehenderit
        tempora tempore temporibus vitae voluptatem. A accusantium alias aliquid aspernatur dolore dolorem doloremque
        doloribus eaque est exercitationem explicabo impedit laborum magni maxime molestias nisi odio omnis perspiciatis
        recusandae, repellendus rerum saepe similique? Accusantium, ad aperiam asperiores aspernatur autem cumque
        cupiditate deleniti dolore dolorem dolores exercitationem expedita fuga fugit ipsa laudantium magnam maiores
        modi neque nostrum nulla officia officiis possimus praesentium quidem, quisquam quo ratione reprehenderit sint
        tempora ullam ut velit, veritatis voluptate! Amet aspernatur, aut ducimus eaque id nesciunt quo saepe totam. Ad
        beatae consequatur culpa delectus fuga illo impedit in maxime minima nobis, nostrum pariatur quaerat quidem quos
        sunt tempore temporibus? Aliquid asperiores assumenda beatae commodi debitis delectus dolore earum eius enim
        eveniet exercitationem fugiat id, impedit ipsam labore libero minus mollitia natus, odio odit quaerat quasi, qui
        reiciendis rem repellendus saepe sequi tempora tempore veritatis voluptatem? Ab culpa excepturi in ipsam nostrum
        quae quia vel veniam. Eligendi error exercitationem incidunt laudantium minima minus nam quidem vel?
        Consectetur, eos exercitationem modi nobis pariatur reiciendis voluptas?</p>
    <h2>Lorem3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at, cumque deleniti dicta distinctio ducimus ea
        eos ex harum illo in libero magnam magni nam non numquam porro quaerat quas quasi quidem repellat rerum sapiente
        sed sunt tempore temporibus velit. Aliquid, architecto debitis dicta dolorem, doloremque dolorum enim et itaque
        iure minus neque nisi optio quidem rem repellat, sit vitae. Ad dolor, dolore laudantium necessitatibus unde
        veritatis voluptas voluptatum? Accusantium earum eligendi ipsam nesciunt, officia reiciendis rerum. Eaque enim
        ipsum optio? Dicta eos in ipsam laborum magnam nemo, numquam odio optio provident quae, suscipit tempora.
        Dignissimos minima officia porro repellat sed. Dolorum earum eos excepturi fugiat in nostrum obcaecati optio
        placeat, quo sint. Aut blanditiis cum facilis impedit ipsam iure minima mollitia qui totam voluptas. Aut
        deleniti dignissimos eos laudantium magni maiores nisi numquam quaerat quo reprehenderit, ullam veniam?
        Accusamus autem beatae consequatur dicta dolor dolorum ea error eum exercitationem, fugiat id ipsa laborum
        minima minus natus non qui quis quo reiciendis sint sit tempore ut vitae. Animi consectetur delectus dolore
        facilis impedit, in magni nostrum officiis, omnis, pariatur perferendis placeat quibusdam. Aspernatur at,
        dolorum et magni maiores nobis quae reprehenderit vel. Aperiam at dolorem doloribus iste magni molestias
        nesciunt nulla perferendis qui quibusdam, ratione temporibus voluptas. A animi architecto beatae, blanditiis
        corporis cum debitis earum est et eum exercitationem expedita explicabo facere hic illum inventore libero maxime
        minus molestiae molestias nam, necessitatibus neque nesciunt nihil nulla officia officiis optio praesentium quam
        quibusdam repellendus sequi sit unde veniam voluptate voluptates voluptatibus? Ab amet assumenda aut autem
        commodi cum dolor dolores dolorum et eveniet laudantium molestiae mollitia nobis, perspiciatis quibusdam quidem
        reiciendis sed sint unde voluptates. Culpa delectus deleniti dicta dolore dolores ex exercitationem, explicabo
        harum hic laboriosam molestiae mollitia nemo optio perspiciatis porro, quaerat quidem ratione tempora ut velit
        voluptatum.</p>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>